@model PetrolStation.Models.Client
<style>
    .HeaderSite {
        display: inline-block;
        position: relative;
        height: 80px;
    }

    .AddCarHeader {
        display: inline-block;
        position: relative;
        height: 90px;
    }

    .Button {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
</style>
@{
    ViewData["Title"] = "AddNewClient";
}

<div class="HeaderSite">
    <h1 style="position:absolute; margin-top:30px; width:300px">Add new client</h1>
    @if (ViewBag.ErrorClient != null)
    {
        <p style="color:red">@ViewBag.ErrorClient</p>
    }
    <h4 style="position: absolute; margin-top:15px; margin-left:300px; width:300px">Select client type</h4>
    <select class="browser-default custom-select custom-select-lg mb-3" id="TypeList" style="position: absolute; margin-top:45px; margin-left:300px; width:250px">
        <option>Person</option>
        <option>Company</option>
    </select>
</div>
@*car button*@
@*<div class="AddCarHeader">
    <h4 style="position: absolute; margin-top:150px; margin-left:370px; width:200px">Add assigned car</h4>
    <input style="width:40px; height:40px; margin-top:145px; margin-left:560px" type="button" class="Button" value="+" id="AddCar" />
</div>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewClient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label" hidden title="Company"></label>
                <input asp-for="Name" class="form-control" hidden title="Company" />
                <span asp-validation-for="Name" class="text-danger" hidden title="Company"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label" title="Person">First Name</label>
                <input asp-for="FirstName" class="form-control" title="Person" />
                <span asp-validation-for="FirstName" class="text-danger" title="Person"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label" title="Person"></label>
                <input asp-for="Surname" class="form-control" title="Person" />
                <span asp-validation-for="Surname" class="text-danger" title="Person"></span>
            </div>
            <div class="form-group">
                <label asp-for="NIP" class="control-label" hidden title="Company"></label>
                <input asp-for="NIP" class="form-control" hidden title="Company" />
                <span asp-validation-for="NIP" class="text-danger" hidden title="Company"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseNumber" class="control-label">House Number</label>
                <input asp-for="HouseNumber" class="form-control" />
                <span asp-validation-for="HouseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApartmentNumber" class="control-label">Apartment Number</label>
                <input asp-for="ApartmentNumber" class="form-control" />
                <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locality" class="control-label"></label>
                <input asp-for="Locality" class="form-control" />
                <span asp-validation-for="Locality" class="text-danger"></span>
            </div>
            <div style="position:relative">
                <h4>Add loyalty card</h4>
                <input style="position:absolute; margin-left:190px; margin-top:-35px; width:30px; height:30px;" type="checkbox" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add client" class="btn btn-success" style="width: 100%;"/>
            </div>
            <input class="btn btn-primary" type="button" value="View client list" onclick="location.href='@Url.Action("ClientList", "Clients")'" style="width: 100%;"/>
        </form>
    </div>
</div>


<script>
    var typeList = document.getElementById("TypeList");
    var companyElements = document.querySelectorAll('[title="Company"]');
    var personElements = document.querySelectorAll('[title="Person"]');
    typeList.onchange = function (event) {
        var value = event.target.value;
        if (value == "Company") {
            //hide person elements
            for (let i = 0; i < personElements.length; i++) {
                personElements[i].hidden = true;
            }
            //show company elements
            for (let i = 0; i < companyElements.length; i++) {
                companyElements[i].hidden = false;
            }
        }
        else {
            //hide company elements
            for (let i = 0; i < companyElements.length; i++) {
                companyElements[i].hidden = true;
            }
            //show person elements
            for (let i = 0; i < personElements.length; i++) {
                personElements[i].hidden = false;
            }
        }
    }
    //Add car section
    var button = document.getElementById("AddCar");
    button.onclick = function (event) {
        var value = event.target.value;
        if (value == "+") {
            event.target.value = '+';
        }
        else {
            event.target.value = '+';
        }
    }
</script>