@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <a asp-controller="Storage" asp-action="AddProductForm">Add product</a>
        <a asp-controller="Storage" asp-action="ViewProductList">View product list</a>
        <a asp-controller="Clients" asp-action="AddNewClient">Add new client</a>
        <a asp-controller="TransactionList" asp-action="Index">Show transactions</a>
    </div>
