@{
    ViewData["Title"] = "Privacy Policy";
}
@*<h1>@ViewData["Title"]</h1>*@

<h1>Page authors</h1>
<h5>
    1. Paweł Bąk
</h5>
<h5>
    2. Kamil Mierzwiński
</h5>
<h5>
    3. Jakub Mroczkowski
</h5>